<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445527798659-8uahu8hednpj6885ch3s4qhkb7svnvjd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445527798659-8uahu8hednpj6885ch3s4qhkb7svnvjd</string>
	<key>API_KEY</key>
	<string>AIzaSyDqHXLqw-qarP9Nb4YK7CRuL-P5FPsq-ck</string>
	<key>GCM_SENDER_ID</key>
	<string>445527798659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mitko.FitnessApp</string>
	<key>PROJECT_ID</key>
	<string>fitnessapp-5d61e</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessapp-5d61e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445527798659:ios:a7c52a68c024e6c386bcb6</string>
	<key>DATABASE_URL</key>
	<string>https://fitnessapp-5d61e.firebaseio.com</string>
</dict>
</plist>